{% extends "admin/base_site.html" %}

{% load i18n %}
{% load admin_urls %}
{% load static from staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin_timeline/css/admin_timeline.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin_timeline/libs/multiple-select/multiple-select.css' %}" />
{% endblock extrastyle %}
{% block extrahead %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% static 'admin_timeline/libs/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'admin_timeline/libs/multiple-select/jquery.multiple.select.js' %}"></script>
<script src="{% static 'admin_timeline/js/admin_timeline.js' %}"></script>

{% endblock extrahead %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}admin-timeline{% endblock %}

{% block content %}
<div id="content-main">
{% if admin_log %}
<ul id="admin-timeline" class="actionlist">
    {% include "admin_timeline/timeline_ajax.html" %}
</ul>
{% endif %}
</div>

<div id="content-related">

    <form class="admin-timeline-filter-form" action="." method="post">
        {% csrf_token %}
        {{ filter_form.as_table }}
        <button type="submit">{% trans "Filter" %}</button>
    </form>

    {% comment %}
    <div class="module filtered" id="admin-timeline-users">
        <h2>{% trans 'Filter by user' %}</h2>
        {% if not admin_log_users %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <div class="changelist-filter">
            
            <ul>
                {% for id,username in admin_log_users %}
                <li>
                   <a href="?user_id={{ id }}"{% if id == user_id %} class="selected"{% endif %}>{{ username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="module filtered" id="admin-timeline-users">
        <h2>{% trans 'Filter by content type' %}</h2>
        {% if not admin_log_content_types %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <div class="changelist-filter">

            <ul>
                {% for id,name in admin_log_content_types %}
                <li>
                   <a href="?content_type_id={{ id }}"{% if id == content_type_id %} class="selected"{% endif %}>{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% endcomment %}

</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        var djangoAdminTimeline = new DjangoAdminTimeline();

        djangoAdminTimeline.init({
            lastDate: "{{ last_date }}",
            users: {{ users|safe }},
            contentTypes: {{ content_types|safe }},
            startDate: "{{ start_date }}",
            endDate: "{{ end_date }}",
            url: "{% url 'admin_timeline.log' %}",
            loaderImageURL: "{% static 'admin_timeline/images/loading.gif' %}"
        });
    });
</script>
{% endblock content %}

