*.py[cod]
.hgignore~
.gitignore~
.hg/
.git/
.hgtags

/example/db/
/example/tmp/
/example/media/static/
/example/media/_static/
/example/static/
/builddocs/
builddocs.zip
/build/
/dist/
/src/admin_timeline.egg-info
/src/django_admin_timeline.egg-info
/MANIFEST.in~
/.tox/

