*.py[cod]
.hgignore~
.gitignore~
.hg/
.git/
.hgtags
/.coverage
/.cache/
/geckodriver.log
/ghostdriver.log
/htmlcov/
*.py,cover
.idea/
.pytest_cache/

/examples/db/
/examples/tmp/
/examples/logs/
/examples/media/static/
/examples/media/_static/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/admin_timeline.egg-info
/src/django_admin_timeline.egg-info
/examples/simple/settings/local_settings.py
/MANIFEST.in~
/.tox/
/demos/
/releases/
